# Auto detect text files and perform LF normalization
* text=auto
Content/Textures/T_Scarps_N.uasset filter=lfs diff=lfs merge=lfs -text
Content/Fbx/Mutant/Mutant_diffuse.uasset filter=lfs diff=lfs merge=lfs -text
Content/Fbx/Mutant/Mutant_normal.uasset filter=lfs diff=lfs merge=lfs -text